services:
    php:
        image: ${IMAGES_PREFIX:-}myrecool
        restart: unless-stopped
        environment:
            SERVER_NAME: ${SERVER_NAME:-localhost}, php:80
            MERCURE_PUBLISHER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
            MERCURE_SUBSCRIBER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
            DATABASE_URL: mysql://${MYSQL_USER:-app}:${MYSQL_PASSWORD:-!ChangeMe!}@database:3306/${MYSQL_DATABASE:-app}?serverVersion=${MYSQL_VERSION:-10.11.2-MariaDB}&charset=${MYSQL_CHARSET:-utf8mb4}
            # Run "composer require symfony/mercure-bundle" to install and configure the Mercure integration
            MERCURE_URL: ${CADDY_MERCURE_URL:-http://php/.well-known/mercure}
            MERCURE_PUBLIC_URL: ${CADDY_MERCURE_PUBLIC_URL:-https://${SERVER_NAME:-localhost}:${HTTPS_PORT:-443}/.well-known/mercure}
            MERCURE_JWT_SECRET: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
            # The two next lines can be removed after initial installation
            SYMFONY_VERSION: ${SYMFONY_VERSION:-}
            STABILITY: ${STABILITY:-stable}
        volumes:
            - caddy_data:/data
            - caddy_config:/config
        ports:
            -   name: http
                target: 80
                published: ${HTTP_PORT:-80}
                protocol: tcp
            -   name: https
                target: 443
                published: ${HTTPS_PORT:-443}
                protocol: tcp
            -   name: http3
                target: 443
                published: ${HTTP3_PORT:-443}
                protocol: udp
    ###> symfony/mercure-bundle ###
    ###> doctrine/doctrine-bundle ###
    database:
        image: mariadb:${MYSQL_VERSION:-10.11.2}

        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD:-!ChangeMe!}
            MYSQL_USER: ${MYSQL_USER:-app}
        healthcheck:
            test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
            - ./.docker/db/data:/var/lib/mysql
    mercure:
        image: dunglas/mercure
        restart: unless-stopped
        environment:
            # Uncomment the following line to disable HTTPS,
            #SERVER_NAME: ':80'
            MERCURE_PUBLISHER_JWT_KEY: '!ChangeThisMercureHubJWTSecretKey!'
            MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeThisMercureHubJWTSecretKey!'
            # Set the URL of your Symfony project (without trailing slash!) as value of the cors_origins directive
            MERCURE_EXTRA_DIRECTIVES: |
                cors_origins https://localhost:8000 http://localhost:8000 http://localhost:3030 https://localhost:3030 https://127.0.0.1:8000 http://127.0.0.1:8000
                demo
                anonymous
        # Comment the following line to disable the development mode
        #command: /usr/bin/caddy run --config /etc/caddy/Caddyfile.dev
        healthcheck:
            test: [ "CMD", "curl", "-f", "https://localhost/healthz" ]
            timeout: 5s
            retries: 5
            start_period: 60s
        volumes:
            - iot_mercure_data:/data
            - iot_mercure_config:/config
###< symfony/mercure-bundle ###

volumes:
    caddy_data:
    caddy_config:
    ###> doctrine/doctrine-bundle ###
    database_data:
    ###< doctrine/doctrine-bundle ###

    ###> symfony/mercure-bundle ###
    iot_mercure_data:
    iot_mercure_config:
###< symfony/mercure-bundle ###
